*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabeçalho {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #F8C7D6;
    padding: 10px 25px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.cabeçalho::after {
    content: "";
    display: block;
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: -12px;
    z-index: 10;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 10" preserveAspectRatio="none"><path d="M 0,0 C 5,10 15,10 20,0 Z" fill="%23F8C7D6"/></svg>');
    background-size: 20px 15px;
    background-repeat: repeat-x;
}
.menu-esquerdo,
.menu-direito{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    align-items: center;
}
.menu-esquerdo a,
.menu-direito a{
    text-decoration: none;
    color: rgb(151, 10, 52);
    font-weight: lighter; 
    font-size: 20px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo a{
    text-decoration: none;
    color: rgb(151, 10, 52);
    font-weight: bold;
    margin: 0;
    font-size: 30px;
}
/* tentando fazer a versão mobile */


img {
    position: relative;
    width: 100%;
    height: 540px;
    object-fit: cover;
    scroll-snap-align: center;
    flex-shrink: 0;
}

.banner {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 60px;
    padding: 15px;
    margin: 15px;
}

.banner2 {
    background-color: #fffdf8;
    background-image:
    linear-gradient(#d7d1ff 1px, transparent 1px),
    linear-gradient(90deg, #d7d1ff 1px, transparent 1px);
    background-size: 20px 20px;
    height: 380px;
    margin-top: 1px;
}
